body{
    background: #34cccc;
    color:rgb(247, 247, 247);
}

.title{
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
}

.container{
    
    max-width: 1200px;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.btns{
display: flex;
justify-content: space-evenly;
}
.btn{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    background: white;
    font-weight: bold;
    margin-bottom: 10px;

}
.btn:hover{
    background: #101010;
    color: aliceblue;
}

.character{
    background: #101010;
    text-align: center;
    border-radius: 5px;
}

.character img{
    border-radius: 5px 5px 0 0;
    
}

 /* Tablet */

 @media only screen and (min-width: 768px){

 }

 @media only screen and (max-width: 400px){
    .container{
        max-width: 300px;
        height: 10rem;
    }
.title{
    font-size: 3rem;
}
.grid{
    display: grid;
    grid-template-columns: none;
}
.character{
    margin-bottom: 2rem;
}
 }